<div id='page_wrapper'>
  <div id='profile_image'>
    <%= image_tag 'profile.jpeg' %>
  </div>
  <div id='content'>
    <h1>It's Mr. Stick Figure </h1>
    <p>
      Lorem ipsum dolor amet hell of knausgaard normcore literally, street art tofu put a bird on it slow-carb adaptogen subway tile gastropub authentic fashion axe. Activated charcoal typewriter cred master cleanse single-origin coffee farm-to-table post-ironic bitters hashtag sustainable. Disrupt shoreditch listicle butcher locavore. Thundercats brunch succulents hexagon, aesthetic meggings lumbersexual gentrify locavore yr.
    </p>
  </div>
</div>